@import 'styles/variables.scss';

thead > tr > th {
    cursor: pointer;
}
.btn-light:hover{
    color: #fff;
    background-color: black;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-menu label {
  display: block;
}
.table tbody tr:hover td, .table tbody tr:hover th {
  background-color: #B79F3B;
}
