
<div  class="row">
    <div class="card ml-4 mb-4 mr-1">
      <div class="card-header bg-dark">
           <span class="text-light">
               {{teacher.firstName}} {{teacher.lastName}}
           </span>
        <span class="float-right text-light">

            <div ngbDropdown class="d-inline-block" autoClose="outside">
            <button class="btn btn-dark" id="export" ngbDropdownToggle>
              <fa-icon [icon]="ellipsis"></fa-icon>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem type="button" [disabled]="teacher.archived"
                      class="btn btn-light btn-sm" (click)="viewTeacher(teacher)">
              <span class="mr-1">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </span>View
              </button>
             <!-- <button type="button" class="btn btn-light btn-sm" ngbDropdownItem (click)="editEmployee(teacher)">
                <span class="mr-1"><i class="fa fa-pencil" aria-hidden="true"></i> </span>Edit
              </button>-->
              <!-- <button type="button" class="btn btn-light btn-sm" ngbDropdownItem (click)="archiveEmployee(teacher)">
              <span class="mr-1">
                <i class="fa fa-archive" aria-hidden="true"></i>
              </span>Archive
              </button>-->
                 <button type="button" *ngIf="!teacher.archived"
                         class="btn btn-light btn-sm" ngbDropdownItem (click)="archiveTeacher(teacher)">
              <span class="mr-1">
                <i class="fa fa-archive" aria-hidden="true"></i>
              </span>Archive
              </button>
               <button type="button" *ngIf="teacher.archived"
                       class="btn btn-light btn-sm" ngbDropdownItem (click)="archiveTeacher(teacher)">
              <span class="mr-1">
               <i class="fa fa-check-circle-o" aria-hidden="true"></i>
              </span>Active
              </button>
            </div>
          </div>
          </span>
      </div>
      <div class="card-body flex-row flex-wrap">
        <div class="row">
          <div class="col-sm-3">
            <img src="/assets/avatar/avatar-3.png" *ngIf="teacher.gender=='M' else femaleAvatar"
                 alt="employee-logo" class="rounded float-start" style="width: 50px">
            <!--<div *ngIf="teacher.isArchived">
              <span class="badge badge-danger">Archived</span>
            </div>-->
          </div>
          <div class="col-sm-9">
            <!--<p class="text-truncate">
              <i class="fa fa-briefcase" aria-hidden="true"></i>
              {{teacher.jobRole}}
            </p>-->
            <p class="text-truncate">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              {{teacher.email}}
            </p>
            <p class="text-truncate">
              <i class="fa fa-phone" aria-hidden="true"></i>
              {{teacher.privatePhone}}
            </p>
           <!-- <p class="text-truncate">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              {{teacher.workLocation}}
            </p>
            <p class="text-truncate">
              <i class="fa fa-suitcase" aria-hidden="true"></i>
              {{teacher.status}}
            </p>-->
          </div>
        </div>
          <div class="row">
              <div class="col-sm-9">
                  <div *ngIf="teacher.archived">
                      <span class="badge badge-danger">Archived</span>
                  </div>
                  <div *ngIf="!teacher.archived">
                      <span class="badge badge-success">Actived</span>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>

<ng-template #femaleAvatar>
    <img src="/assets/avatar/avatar-F.png" alt="employee-logo" class="rounded float-start" style="width: 50px">
</ng-template>
