<div class="row">
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-primary">
            <div class="card-body">
               <span style="font-size:2em;">
                <fa-icon [icon]="faUserGraduate"></fa-icon>
               </span>
                  Students number
            </div>
    </sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-warning"><div class="card-body">
            <span style="font-size:2em;">
                <fa-icon [icon]="faClock"></fa-icon>
            </span>
            Courses in progress
        </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-success"><div class="card-body">
            <span style="font-size:2em;">
                <fa-icon [icon]="faStopwatch"></fa-icon>
            </span>
            Ended courses
        </div>
        </sb-card-view-details> 
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-danger"><div class="card-body">
            <span style="font-size:2em;">
                <fa-icon [icon]="faChalkboardTeacher"></fa-icon>
            </span>
            Teachers number</div></sb-card-view-details>
    </div>
</div>
